@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E1E2E6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(images/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.logo img {
    width: 180px;
    height: 60px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #434bb8;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content img {
    width: 250px;
    height: 80px;
    margin-top: 50px;
    align-items: center;
}



.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content h2 {
    font-size: 45px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;

}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #434bb8;
    color: #F9FAFC;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-1:hover {
    background-color: #3c3c8c;
}

.coffee-content {
    text-align: center;
    padding: 100px 0;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323237;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}


.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-1 {
    padding: 0 25px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323237;
    font-size: 20px;
    margin-bottom: 15px;

}




.principal {
    background-color: #393e92;
}

.principal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.principal-1 img {
    width: 200px;
}

.principal-1 {
    padding: 0 25px;
}

.principal-img {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
}

.principal-1 h2 {
    color: #F9FAFC;
    font-size: 20px;
    margin-bottom: 15px;

}

.principal-content {
    text-align: center;
    padding: 100px 0;
}


.principal-1 h3 {
    color: #F9FAFC;
    font-size: 25px;
    margin-bottom: 15px;

}

.principal-1 p {
    font-size: 16px;
    color: #F9FAFC;
    margin: 25px 0 45px 0;

}




.contactop {
    background-color: #393e92;
}

.contactop-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contactop-1 img {
    width: 200px;
}

.contactop-1 {
    padding: 0 25px;

}

.contactop-img {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
}

.contactop-1 h2 {
    color: #F9FAFC;
    font-size: 20px;
    margin-bottom: 15px;

}

.contactop-content {
    text-align: center;
    padding: 100px 0;


}


.contactop-1 h3 {
    color: #F9FAFC;
    font-size: 25px;
    margin-bottom: 15px;

}

.contactop-1 p {
    font-size: 16px;
    color: #F9FAFC;
    margin: 25px 0 45px 0;

}















































.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(images/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;

}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #EACCB3;
    font-size: 18px;
}


.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(images/Servicios/Neumatica/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.general-3 {
    background-image: url(images/Servicios/OleoHidraulica/4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}





.general-inicio {
    display: flex;
}

.general-inicio-1 {
    width: 50%;
    padding: 100px 190px 100px 100px;
    background-color: #E1E2E6;
}

.general-inicio-2 {
    background-image: url(images/SeingSpa/SeingSpa-18.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.general-inicio-3 {
    background-image: url(images/SeingSpa/SeingSpa-18.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.general-inicio h2 {
    font-size: 45px;
    line-height: 70px;
    color: #323237;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.general-inicio p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;

}


.general-contacto {
    display: flex;
}

.general-contacto-1 {
    width: 50%;
    padding: 0 0 0 0;
    background-color: #E1E2E6;
}

.general-contacto-2 {
    background-image: url(images/Servicios/Neumatica/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.general-contacto-3 {
    background-image: url(images/SeingSpa/SeingSpa-1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}




h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323237;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;

}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323237;
}








.serviciop {
    padding: 100px 0;
    text-align: center;

}

.serviciop-content {
    display: flex;
    justify-content: space-between;

}

.serviciop-1 {
    padding: 15px 25px;
}

.serviciop-1 img {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.serviciop-1 h3 {
    font-size: 25px;
    color: #323237;
}

.serviciop h2 {
    color: #323237;
}





.equipo {
    padding: 100px 0;
    text-align: center;

}

.equipo-content {
    display: flex;
    justify-content: space-between;

}

.equipo-1 {
    padding: 15px 25px;
}

.equipo-1 img {
    width: 300px;
    height: 240px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.equipo-1 h3 {
    font-size: 16px;
    color: #323237;
}

.equipo h2 {
    color: #323237;
}































.empresa {
    display: flex;
}

.empresa-1 {
    width: 50%;
    padding: 100px 190px 100px 100px;
    background-color: #E1E2E6;
}

.empresa-2 {
    background-image: url(images/SeingSpa/SeingSpa-18.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.empresa-3 {
    background-image: url(images/SeingSpa/SeingSpa-19.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.empresa h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323237;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.empresa p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;

}



































.footer {
    padding: 50px 0;
    background-color: #434bb8;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.copyright {
    background-color: #434bb8;
    text-align: center;
    padding: 5px 0;
}

.copyright p {
    color: #F9FAFC;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;

}



.et_pb_contact_form {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para campos de entrada */
.et_pb_contact_field {
    margin-bottom: 15px;
}

/* Estilo para etiquetas */
.et_pb_contact_form_label {
    display: block;
    font-weight: bold;
}

/* Estilo para botón de envío */
.et_pb_contact_submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.et_pb_contact_submit:hover {
    background-color: #0056b3;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323237;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .coffee {
        padding: 30px;
    }

    .coffee-content h2 {
        padding: 0;
    }

    .principal {
        padding: 30px;
    }

    .principal-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .coffee-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffee-img {
        display: none;
    }

    .principal-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .principal-img {
        display: none;

    }

    .principal-1 img {
        margin-top: 35px;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2,
    .general-3 {
        display: none;
    }

    .general-contacto {
        flex-direction: column;
    }

    .general-contacto-1 {
        width: 100%;
        text-align: center;
    }

    .general-contacto-2,
    .general-contacto-3 {
        display: none;
    }

    .general-inicio {
        flex-direction: column;
    }

    .general-inicio-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-inicio-2,
    .general-inicio-3 {
        display: none;
    }







    .empresa {
        flex-direction: column;
    }

    .empresa-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .empresa-2,
    .empresa-3 {
        display: none;
    }























    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }


    .serviciop {
        padding: 30px;
    }

    .serviciop-content {
        flex-direction: column;
    }

    .serviciop-1 {
        padding: 0;
    }

    .serviciop-1 img {
        margin: 35px 0 5px 0;
        width: 300px;
        height: 250px;
    }








    .equipo {
        padding: 30px;
    }

    .equipo-content {
        flex-direction: column;
    }

    .equipo-1 {
        padding: 0;
    }

    .equipo-1 img {
        margin: 35px 0 5px 0;
        width: 350px;
        height: 250px;
    }







    .contactop {
        padding: 30px;
    }

    .contactop-content h2 {
        padding: 0;
    }

    .contactop-group {
        flex-direction: column;
        margin-bottom: 0;
        background-color: #393e92;
        padding: 30px;
    }

    .contactop-img {
        display: none;

    }

    .contactop-1 img {
        margin-top: 35px;
    }


    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }


}